#map {
    height: 600px;
}

#graphic-container {
    margin-top: 50px;
    overflow: hidden;
}

#path-print {
    width: 300px;
    font-size: 20px;
    font-weight: bolder;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#calculate-path {
    margin: 10px 0;
}

/* Visualization */
#graphic {
	width: 800px;
	height: 500px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.vertex {
    background-color: #006600;
    fill: #006600;
	stroke: gray;
	stroke-width: 2;
}

.vertex-text {
    font-size: 15px;
    font-weight: bolder;
    fill: white;
}

.line {
	stroke: black;
	stroke-width: 2;
}